section{
    margin-top: 5vh;
}

.names:hover{
    text-decoration: underline;
}

button:not(.collapsed) {
    border-color: white !important; 
}

#searchbar{
    margin-top: 18vh;
}

#loker .card{
    width: 22.5rem;
}

.perusahaan .nama{
    color: #289dd2;
    margin: 0;
}