section{
    margin-top: 5vh;
}

.names:hover{
    text-decoration: underline;
}

button:not(.collapsed) {
    border-color: white; 
}

#searchbar{
    margin-top: 18vh;
}

#loker .card{
    width: 22.5rem;
}

.perusahaan .nama{
    color: #289dd2;
    margin: 0;
}

#lokerrekomendasi .perusahaan1 .nama {
    margin-top: 40px;
    font-size: 40px; 
    font-weight: bold;
    margin-left: 15px;
}

#lokerrekomendasi .perusahaan1 .lokasi {
    font-size: 25px; 
    color:#289dd2;
    margin-left: 15px;
    
}

#lokerrekomendasi{
    font-size: 18px;
}


#lokerrekomendasi h1{
    font-size: 18px;
    color:lightgray;
    margin-left: 15px;
}

#lokerrekomendasi-container{
    margin-left: 15px;
}

.gray-line{
    width: 100%;
    height: 2px;
    background-color: gray;
    margin: 20px 0;
}

.persyaratan {
    font-family: Arial, sans-serif;
    font-size: 23px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.tags {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.badge {
    background-color:gray;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    color: black;
    display: inline-block;
}

.job-owner {
    font-family: Arial, sans-serif;
    font-size: 23px;
    margin-top: 40px;
}

.owner-info {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.company-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.text-info {
    display: flex;
    flex-direction: column;
}

.company-name {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    color:black;
}

.online-status {
    font-size: 14px;
    color: gray;
    margin: 2px 0 0 0;
}

.companydescription strong,p{

    margin-top: 15px;

}

.card-link {
    text-decoration: none;
    color: inherit;
}
.card {
    transition: transform 0.2s ease-in-out;
}
.card:hover {
    transform: scale(1.05);
}
